__pycache__/
.venv/
.env
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
.streamlit/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.git
.mypy_cache
.pytest_cache
.hypothesis
.streamlit_launching
